*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{

}
.blog{

}
.blog_header{
    position: sticky;
    top: 0;
    z-index: 1;
}


.blog_navigation{
 
    display: flex;
    width: 100%;
    height: 75px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(220, 219, 219);
    box-shadow: 2px 2px 5px rgba(149, 149, 149, 0.3);
    justify-content: space-between;
    align-items: center;
}

.name_of_blog{

    
}

.blog_sub{

    color: rgb(132, 132, 132);
    /* font-weight: 800; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sub-iterms{

    display: flex;
    width: 600px;
    height: 73px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    
  
}

.d{

    display: flex;
    height: 73px;
    border-left:  1px solid rgb(230, 230, 230);
    justify-content: center;
    align-items: center;
    padding-left: 20px;

  
}

/* li:last-of-type{
    border-right: 1px solid black; 
    font-size: 30px;
} */

a:last-of-type{
    border-right: 1px solid rgb(230, 230, 230); 
    padding-right: 20px;
    /* font-size: 30px; */

} 



a{

   
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  

}

.drop_down{


    border: 1px solid rgb(42, 42, 42);
    border-radius: 5px;
    cursor: pointer;
}


.row{

    width: 20px;
    height: 2px;
    background-color: rgb(64, 64, 64);
    margin: 6px;
    border-radius: 10px;
}


.slid_navigation{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 300px;
    height: 600px;
    background-color: rgb(255, 255, 255); 
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(213, 213, 213);
    box-shadow: 0px 2px 5px rgba(111, 111, 111, 0.4);
    
}


.other_iterms{

    width: 100%;
/*     background-color: blue; */
    color: aliceblue;
    line-height: 60px;
}


.dash_itms{

    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align:justify;
/*     border-radius: 10px; */
    padding-left: 20px;
    color: black;
    list-style-type: none;
    border-bottom: 1px solid rgb(235, 235, 235);
}


.img_sec{

    width: 100px;
    height: 100px;
    background-color: rgb(227, 227, 227);
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(111, 111, 111, 0.4);
    border: 1px solid rgb(163, 163, 163);
    overflow: hidden;
    transform: scale(1);
}




.img_sec:hover{

    transform: scale(1.05);
    transition: transform 0.3s ease-in;
 
}

.top_details{

    width: 100%;
    display: flex;
    justify-content: space-between;
   /*  background-color: aquamarine; */
    align-items: center;
}

.profile_pic{

    width: 100%;
    display: flex;
  /*   background-color: aqua; */
    align-items: center;
    justify-content: center;
}

.blog_name{

    padding-left: 20px;
}

.secound_part{

    color: rgb(160, 160, 160);
}

.Slide{

    border: 1px solid rgb(171, 171, 171);
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 10px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: rgb(178, 178, 178);
    box-shadow: 0px 2px 3px rgba(111, 111, 111, 0.3);
}



.button_1{

    margin-left: 20px;
}

.dash_itms:hover{

    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    color: rgb(62, 150, 150);
    box-shadow: 0px 2px 3px rgba(111, 111, 111, 0.3);
    transition: 0.3s;
}

.Slide:hover{

    transform: scale(1.1);
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    color: rgb(62, 150, 150);
    box-shadow: 0px 2px 3px rgba(111, 111, 111, 0.3);
    transition: 0.3s;

}



.kkkk{

    display: flex;
 
}


.body_of_dash{

    width: 1190px;
    height: auto;
    background-color: rgb(255, 255, 255); 
    margin-left: 330px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(111, 111, 111, 0.3);
    border: 1px solid rgb(213, 213, 213);
    /* overflow: hidden; */
   
}

.text_area_feild{


    display: flex;
    flex-direction: column;
}